<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
	<div class="login-card">
	  <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>
	    <h1>Register</h1><br>
	  <form action="/signup" method="post">
	    <input type="text" name="username" placeholder="username">
	    <input type="password" name="password" placeholder="Password">
	    <input type="submit" name="login" class="login login-submit" value="login">
	  </form>
	    
	  <div class="login-help">
	    <a href="/login">Login</a> • <a href="#">Forgot Password</a>
	  </div>
	</div>
</body>
</html>